modules = ["nodejs-20", "php-8.2"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true
