@tailwind base;
@tailwind components;
@tailwind utilities;

.user-icon {
    border-radius: 50%; /* Make the icon circular */
    border: 2px solid #ffffff; /* White border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow */
    width: 30px; /* Ensures the icon remains the correct size */
    height: 30px; /* Ensures the icon remains the correct size */
    object-fit: cover; /* Maintain the aspect ratio of the image */
}


.auth-one-bg {
    border-bottom-left-radius: 30vh;
    border-bottom-right-radius: 30vh;
}

.bg-overlay {
    border-bottom-left-radius: 30vh;
    border-bottom-right-radius: 30vh;
}


.dataTables-center {
    text-align: center;
    background-color: transparent;
}


/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Transparent background for the track */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.7); /* Semi-transparent color */
    border-radius: 10px; /* Round shape */
    border: 3px solid transparent; /* Adds space around the thumb for a transparent effect */
    background-clip: padding-box; /* Ensures the border color is transparent */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 85, 85, 0.7); /* Darker color on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(136, 136, 136, 0.7) transparent;
}

.leaflet-routing-container {
    display: none;
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.jdPBzn {
    background-color: transparent !important;
}

